// Fonts
$sans: GothamRoundedBook, sans-serif;
$sans-medium: GothamRoundedMedium, sans-serif;
$sans-bold: GothamRoundedBold, sans-serif;

// Colors
$background: rgb(238, 238, 238);
$widget-background: rgb(255, 255, 255);

$text: rgb(198, 198, 198);
$text-inverse: rgb(255, 255, 255);

$brand-primary: rgb(76, 217, 192);
$brand-secondary: rgb(255, 136, 136);
$brand-tertiary: rgb(82, 110, 130);

$mail-online: rgb(76, 217, 192);
$mail-do-not-disturb: rgb(236, 116, 125);
$mail-away: rgb(86, 229, 246);

$focus-color: rgb(77, 144, 254);
