@font-face {
    font-family: GothamRoundedBook;
    src: url('../fonts/GothamRounded-Book.otf');
}

@font-face {
    font-family: GothamRoundedMedium;
    src: url('../fonts/GothamRounded-Medium.otf');
}

@font-face {
    font-family: GothamRoundedBold;
    src: url('../fonts/GothamRounded-Bold.otf');
}
